body .main {
  padding-left: 4.5%;
  width: 94%;
}

body.services .main {
	width: 80%;
}
  
#header-wrapper .header a.logo {
  width: 59%;
}

.services #header-wrapper .header a.logo {
  padding-left: 0px;
}

#header-wrapper .header a.logo div {
  height: 68px;
  background-image: url('/images/logo/with-cloud.png');
  background-position: center center;
  background-repeat: no-repeat;
}

nav.cloud {
  width:45%;
  margin:0 auto;
}

.services p {
  font-size: 16px;
  margin: 0;
}

.services #header-wrapper .header a.logo {
  width: 55%;
}

.services #header-wrapper .header a.logo div {
  background-image: url('/images/logo/with-shadow.png');
}

.services #header-wrapper .header nav.cloud {
  position: inherit;
  margin: auto;
}

.services div.content div.services-content {
  margin-top: 30px;
}

.services article.introduction, article.clients {
  text-align: center;
  margin-bottom: 20px;
}

.services article.introduction, article.clients em {
	padding-left: 0px;
}

.services .tile .leader {
  margin-bottom: 0;
}

.clients .logos-grid .tile {
	width: 50%;
	overflow: hidden;
	float: none;
	height: auto;
	margin: 0px auto;
	text-align: center;
	line-height: 20px;
	min-width: 0px;
}

.clients .logos-grid .tile img {
	margin: 30px 0px;
	max-width: 60%;
}

.clients .logos-grid .tile img.circular {
	margin: 10px 0px;
}

.clients .logos-grid {
	width: 70%;
	margin: 0 auto;
	padding: 5px;
}

.underline {
  top:2px;
}

/* .branding */
.brand-cloud-logo {
  background-image: url('/images/home/clouds.png');
  background-repeat: repeat-x;
  background-position: 50% 90%;
  height: 448px;
  position: absolute;
  top: 67px;
  width: inherit;
}

@media screen and (max-width: 700px){
  .brand-cloud-logo {
    background-position: 35% 4%;
  }  
}

.branding {
  height: 440px;
}

.branding .pitch {
  padding-left: 18px;
}

.branding .mobiles {
  background-size: contain;
  background-image: url('/images/branding/mobiles-728.png');
  height: 316px;
  margin-left: 3%;
}

.brand-solid-texture {
  height: 398px;
}

nav.cloud {
  float: right;
  padding: 22.5px 0;
}

nav.cloud ul li {
  margin: 0;
  padding: 0 9px;
}

.home .about article * {
  line-height: 0;
}

.about .tile p {
  font-size: 18px;
  line-height: 1.6;
}

.about .tile {
  width: 45%;
  margin-right: 0px;
  margin-bottom: 23px;
}

.about .last {
  margin-left: 11.5%;
  width: 40%;
}

.home .about em{
  font-size: 23px;
}

.strategy .tile {
  width: 30%;
  height: 50%;
  margin-right: 0px;
  margin-top: 19px;
  margin-bottom:50px;
}

.strategy .tile p {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 20px
}

.strategy .tile[position="center"] {
  padding-right: 4.5%;
  padding-left: 3.4%;
}

.community .tile {
  width: 45%;
  margin-right: 0;
  margin-top: 30px;
  padding-top: 0;
}

.community .tile[position="left"] {
  padding-right: 3.5%;
}

.tile .leader {
  float: left;
  margin-right: 6px;
  margin-top: 11px;
}

.community p {
  font-size: 16px;
  margin-top: 5px;
}

footer {
  margin: 40px 0 0 0;
}

.bottom .tile {
  overflow: hidden;
  width: 100%;
  float: left;
}

.bottom .tile li {
  font-size: 12px;
  margin: 2px;
}

footer section.bottom {
  overflow: hidden;
}

@media screen and (max-width:600px) {
  body .main {
    padding-left: 7%;
    width: 92%;
  }
  
  body.services div.content div.services-content {
    width: 90%;
    margin: 0 auto;
  }
  
  body.services div.content .main  {
    padding: 0;
  }
      
  .brand-cloud-logo {
    display: none;
  }
  
  .brand-solid-texture {
    height: 325px;
    top: 138px;
  }
  
  .branding .mobiles {
    height: 217px;
  }
  
  .branding {
    height: 325px;
  }
    
  .branding .pitch {
    margin-top: 36px;
  }
    
  #header-wrapper .header nav.cloud {
    display: block;
    min-width: 295px;
    float: none;
  }
    
  .services #header-wrapper .header a.logo, #header-wrapper .header a.logo {
    width: 100%;
    float: none;
    padding: 0;
    display: block;
  }

	.services .tile .text-wrapper {
		width: 65%;
	}
  
  #header-wrapper .header a.logo div {
    width: 349px;
    margin: 0 auto;
    background-image: url('/images/logo/with-shadow.png');
  }
      
  .about .tile {
    width: 84%;
    margin: 14px 0 6px 0;
  }
  
  .about article.first {
    width: 93%;
  } 
  
  .about article.first p {
    font-size: 19.7px;
    line-height: 1.3;
  }
  .about article.last p {
    margin: 0;
  }
  .about .tile p {
    font-size: 16.7px;
  }
  
  .about .last {
    margin-bottom: 25px;
    padding-left: 0px;
  }
  
  .about article.last br{
    display: none;
  }
  
  .strategy .tile {
    width: 90%;
    margin: 16px 0 16px 0;
  }
  
  .strategy .tile[position="center"]{
    padding: 0;
    margin: 13px 0 20px 0;
  }
  
  .strategy .tile[position="right"]{
    margin-bottom: 15px;
  }
  
  .community p {
    padding-top: 0;
  }
  
  .community .tile {
    margin-top:25px;
  }
  
  .tile .leader {
    width: 65%;
    margin-top: 8px;
    float: none;
  }
  
  .bottom section {
    padding: 0;
    width: 100%;
  }
  
  .bottom-logo {
    width: 100%;
    margin: 0;
    background-image: url('/images/logo/only-shadow.png');
    background-position: center center;
  }
    
  .bottom .tile {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  
  .bottom .tile ul {
    width: 85%;
    margin: 0 auto;
  }
  
  footer {
    margin: 35px 0 0 0;
  }
    
  .community .tile[position="left"] {
      padding-right: 6.5%;
  }
  
   body.portfolio div.content .main {
    padding: 0;
  }

}

.services .tile {
  margin-bottom: 3%;
}


/* Portfolio Page */
body.portfolio div.content div.portfolio-content {
    margin: 0 auto;
    width: 90%;
}


body.portfolio .main {
  padding-left: 65px;
  padding-right: 25px;
}

.portfolioSlides {
  width: 94%;
}

.portfolio #header-wrapper .header a.logo div {
   background-image: url("/images/logo/with-shadow.png");
}

.portfolio article.introduction {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 5%;
}

.slidesPagination {
    left: 40%;
    position: absolute;
    top: 25%;
    width: 100%;
}

section.portfolio {
  padding-top: 0;
}

.portfolio p, h3 {
  font-size: 16px;
  margin: 0;
}

section.portfolio .tile{
  width: 100%;
}

#slides .product {
    width: 90%;
    float: left;
    overflow: hidden;
    padding: 15% 2% 1% 1%;
}

#slides .ourWork {
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 1% 1% 1% 3%;
}

