body {
  background: url('/images/textures/wheat.png');
  color:rgb(50,50,50);
  font-family:sans-serif;
}
a { color: rgb(226,143,86); font-weight:bold;}
a:hover  { color: rgb(226,143,86); }
a.active { color: rgb(124,63,9); }	

body,
.main,
header,
footer > section {
  margin: 0 auto;
  width:100%;
  position:relative;
}

/*  responsive content */
.logo {
  background:url('/images/logo/with-shadow.png') no-repeat;
  width:20em;
  height:118px;
}
.bottom-logo {
  background:url('/images/services/services_footer_logo.png') no-repeat;
  width:20em;
  height:72px;
}
.bottom section{
  position:absolute;
  top:7em;
}
nav {
  margin:0 auto;
  padding-left:1em;
  padding-right:1em;
}
nav li {
  float:left;
  margin-right:1em;
}
nav li a {
  font-size:0.8em;
  text-decoration:none;
  text-transform:uppercase;
}
.title {
  display:block;
  font-family: pt-sans-narrow-bold;
  font-size:1.3em;
}
p {
  font-size:1em;
  font-family: roboto-condensed-bold;
}
/*
 *
 * if the display was 3 rows / 'introduction' would be the first row
 *
 *
 */

 .introduction {
  clear:both;
  margin-bottom:1em;
  margin-left:1em;
  margin-top:4em;
  width:100%;
  padding-bottom:1em;
  border-bottom: 1px solid rgb(221,219,212);
}
 .introduction em {
  font-weight:bold;
  font-size:1.3em;

}
.introduction p {
  font-size:0.9em;
  font-family: roboto-condensed-bold;
  
}
/* part of my responsive grid */
.column {
  float:left;
  min-height:13em;
  width:98%;
  margin:2% 1%; 
}
/*
 *
 * if the display was 3 rows / 'main' would be the middle row
 *
 *
 */
.main {
clear:both;
}
.column {
  position:relative;
  margin:1em;
}
.main .column > .leader {
  position:absolute;
  margin: 0 0;
 
}
/* Align Title and P inside of main columns */
.main .column > .title {
  position:absolute;
  left:120px; /* pixels used here as font-sizes are different */
  top:0px;
}
.main .column > p {
  position:absolute;
  left:120px; /* pixels used here as font-sizes are different */
  top:4em;
}

footer {
  color:rgb(250,250,250);
  font-weight:bold;
  clear:both;
  min-height:80em;
  background: url('/images/textures/stone.png');
}

/*
 *
 * if the display was 3 rows / 'bottom' would be the lowest row
 *
 *
 */

.bottom .column > a {
  color: rgb(199,199,199)
}
.bottom .column > .title {

  text-transform:uppercase;
  font-family:'roboto-condensed-bold';
  color:rgb(206,122,45)	;
  margin-bottom:1em;
  font-size:1em;
}
.bottom .column  * {
  font-size:0.9em;
}
.bottom .column li {
  margin:0.5em 0;
}
.bottom .column a,footer .column time {
  display:block;
}
.bottom .column {
  width:14em;
}

.debug {
background:green;
}

