.debug {
background:green;
}
body {
  background: url('/images/textures/wheat.png');
  color:rgb(50,50,50);
  min-width:20em;
}
a { color: rgb(226,143,86);}
a:hover  { color: rgb(226,143,86); }
a.active { color: rgb(124,63,9); text-decoration:underline; }	

/* 
 * these elements are certain to be nested under body 
 * their dimensions may be re-configured for a successive css media 
 *
 * */
body header,
body footer > section {
  margin: 0 auto;
  width:100%;
  position:relative;
}
body .main {
  width:98%;
  margin: 0 auto;
  padding-left:1%;
  padding-right:1%;
  position:relative;
}

/*  responsive content */

/* these responsive images are using a very primative technique
 * of turning a div into a fixed size container for the purpose
 * of displaying an image.
 *
 * the background image can be re-declared for a more specific
 * media in this manner for another device
 */
.logo {
  background-image:url('/images/logo/with-shadow.png');
  background-repeat:no-repeat;
  background-position:center center;
  width:inherit;
  height:71px;
  z-index:1000;
  position:relative;
}
.bottom-logo {
  background-image:url('/images/logo/only-shadow.png');
  background-repeat:no-repeat;
  background-position: center center;
  width:inherit;
  height:72px;
}
.brand-solid-texture {
  background:url('/images/branding/texture.png') repeat center center transparent;
  height:17em;
  position:absolute;
  position:absolute;
  top:9em;
  width:inherit;
}
.branding {
  position:relative;
  overflow:hidden;
  height: 26em;
  width:inherit;
}
.branding .pitch {
  font-size:2em;
  color:black;
  margin-top:1.5em;
  text-shadow: 1px 1px 1px #fff;
}
.branding .mobiles {
  background-position: center center;
  background-image:url('/images/branding/mobiles-320.png');
  background-repeat:no-repeat;
  height: 9em;
}
/* end responsive content */

/* 
 *
 * base font size for 1em (16px)
 * is being redeclared here.
 *
 * being set to 14px for display 
 *
 * default font is BitterRegular
 * then sans-serif
 *
 * */
html, body, div, span, applet,
object, iframe, 
h1, h2, h3, h4, h5, h6, 
p, blockquote, 
pre, a, abbr, 
acronym, address, 
big, cite, code, 
del, dfn, em, 
img, ins, kbd, 
q, s, samp, small, 
strike, strong, sub, 
sup, tt, var, b, u, 
i, center, dl, dt, dd, ol, 
ul, li, fieldset, form, label,
legend, table, caption, tbody, 
tfoot, thead, tr, th, td, 
article, aside, canvas, details, 
embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, 
ruby, section, summary, time, mark, 
audio, video {
  font-family: BitterRegular, sans-serif;
  font-size:14px;
  line-height:1.5em;
}

.title {
  font-family: PTSansNarrowBold;
  display:block;
  font-size:1.7em;
}

code, pre {
  font-family:courier;
}
/* layout */
article, p {
  margin-top:1em;
}
nav {
  margin:0 auto;
  padding-left:1em;
  padding-right:1em;
  padding-bottom:3em;
  z-index:9999;
}
nav li {
  float:left;
  margin-right:1em;
}
nav li a {
  font-size:1.14em;
  font-family: PTSansNarrowBold;

  text-decoration:none;
  text-transform:uppercase;
}
header .introduction {
  clear:both;
  margin-bottom:1em;
  margin-left:1em;
  margin-top:4em;
  width:100%;
  padding-bottom:1em;
}

.underline {
  clear:both;
  border:0;
  border-top-width: 1px ;
  border-top-style:solid; 
  border-top-color:#eaeaea;
  width:100%;
  position:relative;
  top:9px;
}
footer {
  color:rgb(250,250,250);
  font-weight:bold;
  clear:both;
  min-height:19em;
  background: url('/images/textures/stone.png');
  margin-top:13em;
}

/*
 *
 * The bottom section of the page re-declares our grid tile to be compressed
 * in a manner that is different from our default grid tile settings 
 *
 */
.bottom section{
  position:absolute;
  top:7em;
}

.bottom .tile > a {
  color: rgb(199,199,199)
}
.bottom .tile > .title {

  text-transform:uppercase;
  color:rgb(206,122,45)	;
  margin-bottom:1em;
  font-size:1em;
}
.bottom .tile  * {
  font-size:0.9em;
}
.bottom .tile li {
  margin:0.5em 0;
}
.bottom .tile a,footer .tile time {
  display:block;
}
.bottom .tile {
  width:14em;
}

/* blog */
.blog .tile {
  width:100%;
}
/* services */
.services .tile {
 margin-bottom:3em;
}
.services .tile > .leader {
  margin: 0 1em;
  float:left; /* content will flow around this  */
}

/* home */
.home .about .title {
  display:inline;
}
.home .about article * {
 font-size: 1.28em; /* 18px / 14 */
}
.home .about a {
 font-family: PTSansNarrowBold;
 font-size: 1.28em;
 text-decoration:none;
}

