.grid .tile {
  width:49%;
  margin-left:0.5%;
  margin-right:0.5%;

}
footer {
  margin-top:5em;
}
.debug {
  background:#CCC;
}

nav.cloud {
  position:absolute;
  right:0em;
  top:1em;
  margin: inherit;
}

nav.cloud li {
  float:left;
  margin-right:1em;
}

.bottom .tile {
  width:10em;
}
/* turn off logo on wide as we use brand-cloud-logo */
.home .logo {
  background:0;
}
.logo {
  background-position:top left;
}
.underline {
  top:2px;
}
.bottom-logo {
  background:url('/images/services/services_footer_logo.png') no-repeat;
  width:20em;
  height:72px;
}

/* .branding */
.brand-cloud-logo {
  background-image:url('/images/logo/with-background.png') ;
  background-repeat: no-repeat ;
  background-position:37.5% 0 ;
  height:574px;
  position:absolute;
  top:0px;
  width:inherit;
}
.branding {
  height:574px;
}

.brand-solid-texture {
  background:url('/images/branding/texture.png') repeat center center transparent;
  height:419px;
  position:absolute;
  position:absolute;
  top:67px;
  width:inherit;
}

.branding .cutout {
  background: url("/images/branding/texture.png") repeat scroll left top transparent;
  height: 70px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 226px;
  z-index: 50;
}


/* home */
.home .strategy .tile {
  width:31%; /* 3 tiles in grid */
  margin-bottom:2em;
  margin-right:1%;
}

.home .about .last {
  width:31%; /* 1 tile of strategy */
  margin-bottom:2em;
  margin-right:1%;
}
.home .about .first {
  width:64%; /* 2 tiles of strategy */
  margin-bottom:2em;
  margin-right:1%;
}

.home .community .leader {
  float:left;
  margin-right:1em;
}

