nav {
  position:absolute;
  right:0em;
  top:1em;
  margin: inherit;
}
nav li {
  float:left;
  margin-right:1em;
}
.bottom .tile {
  width:10em;
}

.grid .tile {
  width:42%
}

/* homepage */
.services .tile {
  width:19em; /* 3 tiles in grid */
}

