  <header>
  <div class='logo' 
    alt='blazing cloud'></div>
  <nav>
  <ol>
    <li><a href='/'>Home</a></li>
    <li><a href='/services'>Services</a></li>
    <li><a class='active' href='/blog'>Blog    </a></li>
  </ol>
</nav>
</header>
<section class='main blog'>
  <%=articles%>
</section>
<footer>
</footer>

