<div class='brand-solid-texture'>
</div>
<div class='brand-cloud-texture'>
</div>
<header>
  <div class='branding'>
    <div class='logo' 
      alt='blazing cloud'>
    </div>
    <%= erb :nav, :locals => {:active => 'home' } %>
    <div class='cutout'>
    </div>
    <center class='pitch title'> 
      We handcraft mobile experiences.
    </center>
    <div class='mobiles'>
    </div>
  </div>
  </header>
  <section class='homepage main grid'>
    <section class='about'>
    <article class='tile first'>
    <p>
        <em class='title'>Blazing Cloud</em> 
        is a design, strategy, and
        development
        studio specializing
        in mobile product development.
        </p>
      </article>
      <article class='tile last'>
      <p>
      <em class='title'>Want to talk about your project?</em>
      <br/>
      <a href="mailto:info@blazingcloud.net">Email us.</a>
      </p>
      </article>
      </section> <!-- about section -->
        <hr class='underline'/>
      <section class='grid strategy'>
        <article class='tile'>
        <em class='title'>Strategy &amp; Design</em>
        <p>
          We believe mobile is not just a device, 
          but a paradigm shift. We
          work with you to deliver
          the right experience
          every time.
          </p>
        </article>
        <article class='tile'>
          <em class='title'>
            Mobile Apps
          </em>
          <p>
          We design, test, and implement native
          applications for all popular touch-enabled
          devices &mdash; iPhone, iPad, Android phones and
          tablets, and Windows Touch devices.</p>
        </article>
        <article class='tile'>
        <em class='title'> Mobile Websites </em>
        <p>
          Research shows that mobile internet traffic
          is on a sharp rise. We create mobile web apps and responsive web sites that are device and resolution aware.</p>
        </article>
        </section> <!-- services -->
      <hr class='underline'/>
      <section class='grid community '>
        <article class='tile'>
        <em class='title'>Blazing Cloud Training</em>
        <img class='leader' src="/images/homepage/training.png" alt='blazing cloud training'/>
        <p>
          Our <a href="http://blazingcloud.eventbrite.com/">innovative classes</a> are geared toward
          programmers of all levels. We are firm believers in paying it forward.
          Inquire about our <a href="https://docs.google.com/spreadsheet/viewform?formkey=dEdpay16SEJ0dWF4UUhFYUdvc1NDemc6MA">scholarships</a>.
          </p>
          <!--
          <section class='upcoming'>
            <em>Upcoming Classes</em>
            <ol>
              <li><span class='date'>Mar23</span>
                <a href="#">CSS for Web Applications</a></li>
              <li><span class='date'>May21</span>
                <a href="#">Rails for Beginners</a></li>
            </ol>
            </section>  <!---- upcoming -->
        </article>
        <article class='tile'>
          <em class='title'>Talks</em>
          <img class='leader' src="/images/homepage/talks.png" alt='blazing cloud talks'/>
          <p>
            We are often invited to speak at various events in the bay area and elsewhere.
            If you'd like to have us speak at your event,
            <a href="mailto:info@blazingcloud.net">get in touch.</a>
          </p>
          <!--
          <section class='previous'>
            <em>Previous Talks</em>
            <ol>
              <li><span class='date'>Mar23</span>
                <a href="#">Sarah Allen - Mobile is Everything</a></li>
            </ol>
            </section> <!---- previous -->
        </article>
        </section> <!-- community -->
      </section> <!-- main section -->
      <div class='clear'></div>
