<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="assets/reset.css">
  <link rel="stylesheet" href="assets/main.css">
  <link rel="stylesheet" 
        href="assets/responsive/base.css"    >  <!-- phone -->
  <link rel="stylesheet" 
        href="assets/responsive/base-landscape.css"  
        media='screen and (min-width:30em) and (max-width:48em) ' />
  <link rel="stylesheet" 
        href="assets/responsive/tablet.css"  
        media='screen and (min-width:48em) and (max-width:64em)' />
  <link rel="stylesheet" 
        href="assets/responsive/desktop.css" 
        media='screen and (min-width:64em)' />
</head>

<body>
  <%=yield%>
</body>
</html>


