<nav class='cloud'>
  <ol>
    <li><a <%= "class='active'" if active == 'home' %> href='/'>Home</a></li>
    <li><a <%= "class='active'" if active == 'services' %> href='/services'>Services</a></li>
    <li><a <%= "class='active'" if active == 'blog' %> href='http://blog.blazingcloud.net'>Blog    </a></li>
  </ol>
</nav>
