<div class='content'>
    <div class='portfolio-content'>
	<section class='main'>
	    <article class='introduction '>
		    <em class='title' > Our Work </em>
		    <p>Summary of our work <a href='mailto:info@blazingcloud.net'>Send us an Email</a></p>
	    </article>
	    <hr class='underline'/>
	</section>
	<section class="portfolioSlides">
	    <div id="slidesContainer">
	  
	    <div id="slides">
	      <div>
		  	<img src="images/portfolio/cnn.png" alt="Slide 1">
		  	<div class="product"><em class='title'> CNN </em>
				<h3>Overview</h3>
		  		<p>In partnership with Orange Design and CNN, Blazing Cloud developed an interactive
		  		way to track the November elections with HTML and Javascript, specifically targeting
		  		the iPad. The election center map provided up to the minute election results
		  		through a color-coded interface. The map allowed users to choose which information they wished 
		  		to follow and drill down from national to county results.</p>
		  		
		  	</div>
		  	<div class="ourWork">
		  		<em class='title'> What we did </em>
				<h3>Services</h3>
				<ul>
					<li>Platform: iPad, Mobile Web</li>
					<li>Year: 2010</li>
					<li>Engagement: 3 months</li>
					<li>Technology: Ruby on Rails, Javascript</li>
					<li>Blazing path?</li>
				</ul>
		  	</div>
	      </div>
	  
	      <div>
		  	<img src="images/portfolio/foto_zap.png" alt="Slide 2">
		  	<div class="product">
		  		<em class='title'> FotoZap </em>
				<h3>Overview</h3>
		  		<p>Choose from over 250 goal templates ranging from "Be Happier" to "Write 
		  		a Book" or create your very own. PeerPressure draws in your friends via Twitter, 
		  		Facebook, and email for positive support. Achieve one of your milestones? 
		  		PeerPressure will send out a notification of your success to your friends.
		  	 	Forget  to update or miss one of your milestones? Peer-Pressure will alert your friends that
		  	 	a bit of encouragement is needed to get you back on track. Queue up as many goals
		  	  	as you like while focusing on your main objective. Every time you start a goal,
		  	  	a custom webpage is created to help you and your friend chart your goal's progress.</p>
		  	  	
		  	</div>
		  	<div class="ourWork">
		  		<em class='title'> What we did </em>
				<h3>Services</h3>
				<ul>
					<li>Platform: iOS</li>
					<li>Year: 2012</li>
					<li>Engagement: on-going</li>
					<li>Technology: Objective - C</li>
					<li>Blazing path?</li>
				</ul>
		  	</div>
	      </div>
	  
	       <div>
		  	<img src="images/portfolio/gaze.png" alt="Slide 3">
		  	<div class="product"><em class='title'> Gaze </em>
				<h3>Overview</h3>
		  		<p>Gaze is a selection of scenes designed for relaxation, contemplation or just a 
		  		beautiful break in your day. The scenes have been carefully selected and edited
		  		to show off the incredible quality of the iPad screen - and each scene has restful, natural audio
		  		to take you right into the view. Scenes are organized by gallery, so you can 
		  	 	choose to relax to your favourite fireplace, cycle through a set of clouds,
		  	  	or choose shuffle and let Gaze choose for you.</p>
		  	</div>
		  	<div class="ourWork">
		  		<em class='title'> What we did </em>
				<h3>Services</h3>
				<ul>
					<li>Platform: iPad</li>
					<li>Year: 2011</li>
					<li>Engagement: 2 months</li>
					<li>Technology: Ruby on Rails, Objective - C</li>
					<li>Blazing path?</li>
				</ul>
		  	</div>
	       </div>
	      
	       <div>
		  	<img src="images/portfolio/mighty_verse.png" alt="Slide 4">
		  	<div class="product"><em class='title'> Mighty Verse </em>
				<h3>Overview</h3>
		  		<p>Mightyverse is for people interested in travel, language and connecting with people
		  		in new ways. At the backbone of Mightyverse is the extensive database of over
		  		25,000 recordings by native speakers. The Mightyverse website provides language
		  		phrase packs aimed at teaching users a group of phrases in areas such as
		  	 	ordering sushi in Japanese and shopping in Italian.</p>
		  	</div>
		  	<div class="ourWork">
		  		<em class='title'> What we did </em>
				<h3>Services</h3>
				<ul>
					<li>Platform: iOS, Desktop Web</li>
					<li>Year: 2011</li>
					<li>Engagement: on-going</li>
					<li>Technology: Ruby on Rails, Objective - C</li>
					<li>Blazing path?</li>
				</ul>
		  	</div>
	      </div>
	      
	       <div>
		  	<img src="images/portfolio/scholastic.png" alt="Slide 5">
		  	<div class="product"><em class='title'> SCHOLATIC </em>
				<h3>Overview</h3>
		  		<p>Blazing Cloud provided iOS development expertise in a partnership with Orange Design to create three titles for the 
		  		Scholastic Book's Touch and Tilt Series. This series of interactive iPad apps provide a combination 
		  		of narration, music and sound to deliver an engaging and educational experience for kids.
		  	 	Blazing Cloud developed a framework which allowed I Love You Through and Through, 
		  	 	Go, Clifford, Go!, and The Magic Schoolbus: Oceans to leverage the UI of the iPad.</p>
		  	 </div>
		  	<div class="ourWork">
		  		<em class='title'> What we did </em>
				<h3>Services</h3>
				<ul>
					<li>Platform: iPad</li>
					<li>Year: 2011</li>
					<li>Engagement: 2 months</li>
					<li>Technology: Objective - C</li>
					<li>Blazing path?</li>
				</ul>
		  	</div>
	      </div>
	      
	       <div>
		  	<img src="images/portfolio/zig_zag.png" alt="Slide 6">
		  	<div class="product"><em class='title'> Zig Zag Board </em>
				<h3>Overview</h3>
		  		<p>ZigZag Board for the iPad makes it easy to visualize and share your ideas. 
		  		Quickly edit your drawings with features such as move, resize and delete.
		  	 	Export your whiteboard sessions to PDF and attach to an email to share with colleagues.
		  	  	ZigZag Board is a great way to take hand-written notes in meetings and works 
		  	  	well with a variety of after-market styluses.</p>
		  	</div>
		  	<div class="ourWork">
		  		<em class='title'> What we did </em>
				<h3>Services</h3>
				<ul>
					<li>Platform: iPad, Desktop Web</li>
					<li>Year: 2011</li>
					<li>Engagement: 2 months</li>
					<li>Technology: Ruby on Rails</li>
					<li>Blazing path?</li>
				</ul>
		  	</div>
	      </div>
	  </div>
	  </div>
	   </section>
	    <script>
			$(function(){
		    	$("#slides").slides({
		    	responsive: true
	    		});
	    	});
	    </script>
	      </div>
      

	</section>
</div>

