
  <header>
  <div class='logo' 
    alt='blazing cloud'></div>
  <nav>
  <ol>
    <li><a  href='/'>Home</a></li>
    <li><a class='active' href='/services'>Services</a></li>
    <li><a href='/blog'>Blog    </a></li>
  </ol>
</nav>
</header>
  <section class='main'>
  <article class='introduction '>
  <em class='title' > Our Services </em>
  <p>We can create your next mobile application. <a href='mailto:info@blazingcloud.net'>Send us an Email</a></p>
  </article>
  <hr class='underline'/>
  </section>
  <section class='services main grid'>
  <article class='tile'>
    <img class='leader' src='images/services/services_strategy_design.png' alt='illuminating the essense from a maze of ideas'/>
    <em class='title'> Strategy &amp; Design </em>
    <p>Our multi-disciplinary approach can include design, development and strategy, complementing the resources on your team.</p>
  </article>
  <article class='tile'>
    <img class='leader' src='images/services/services_mobileapps.png' alt='native mobile applications leverage device strengths'/>
    <em class='title'> Mobile Apps</em>
    <p>Our native app development leverages automated testing to increase quality and modern tools for analytics to validate that your application meets your goals.</p>
  </article>
  <article class='tile'>
    <img class='leader' src='images/services/services_mobilewebsites.png' alt='websites are avalible on the mobile device'/>
    <em class='title'> Mobile Websites</em>
    <p>Mobile is expected to surpass desktop web browsing in the next few years.
      We are expert at test-driven development for front-end JavaScript, web apps and web services.</p>
  </article>
  <article class='tile'>
    <img class='leader' src='images/services/services_convergent_experiences.png' alt='devices become connected through clouds'/>
    <em class='title'> Convergent Experiences </em>
    <p>Increasingly, products need to work on multiple
screens. Our holistic approach to web and
mobile solutions makes sure that applications work well
together. We can also deliver real-time synchronization across devices.
</p>
  </article>
  </section>
<footer>
  <section class='bottom grid'>
    <div class='bottom-logo' src='images/services/services_mobile_logo.png' alt='blazing cloud'/>
      <section>
      <!--
  <article class='tile'>
  <em class='title'> Services </em>
  <ol>
    <li>Strategy &amp; Design</li>
    <li>Mobile Apps</li>
    <li>Mobile Websites</li>
    <li>Convergent Experiences</li>
  </ol>
  </article>
  <article class='tile'>
  <em class='title'> Classes </em>
  <ol>
    <li><time class='date'>Mar23</time>
    <a href="#">CSS for Web Applications</a></li>
    <li><time class='date'>May21</time>
    <a href="#">Rails for Beginners</a></li>
    <li><time class='date'>June 3</time>
    <a href="#">Prosidy Chat and you</a></li>
  </ol>
  </article>
  <article class='tile'>
  <em class='title'> Blog </em>
  <ol>
    <li><time class='date'>On Thursday</time>
    <a href="#">Closure and Sinatra</a></li>
    <li><time class='date'>Last Week</time>
    <a href="#">Closure and JQuery Dom Manipulation</a></li>
  </ol>
    
  </article>
  -->
  <article class='tile'>
  <em class='title'> Contact </em>
    <ol>
      <li>
      <abbr> E </abbr> info@blazingcloud.net
      </li>
      <li>
      <abbr> P </abbr> (415) 800 8085
      </li>
      <li>
      <abbr> F </abbr> (415) 738 5407
      </li>
    </ol>
    </article>
    <!--
  <article class='tile'>
  <em class='title'> Twitter </em>
    <time>On Friday</time>
    <p>
      @mebukar there's a link on the eventbrite page,
but it is small &dash;&dash;&gt; blazing cloud scholarship application
http://t.co/330yW1Pe
    </p>
    <a  href="#">Follow us</a> 
    </article>
    --> 
  </section>
  </section>
</footer>


