<script type='text/javascript'>
//<![CDATA[
document.write("<div class='debug'> w("+
                screen.width   /16    +")-screen-h("+
                screen.height  /16    +") -- w("+
                window.innerWidth /16 +")-inner-window-h("+
                window.innerHeight /16 +")</div>")
//]]>
</script>

  <header>
    <img src='images/services/services_mobile_logo.png' alt='blazing cloud'/>
    <article class='introduction column'>
    <em> Our Services </em>
    <p> It's easy to say we value service - we'd rather demonstrate. <a href='#'>Give us a Call</a></p>
    </article>
  </header>
<nav>
</nav>
<section class='main'>
<article class='column'>
<img class='leader' src='images/services/services_strategy_design.png' alt='illuminating the essense from a maze of ideas'/>
<em> Strategy &amp; Design </em>
<p>We belive mobile is not just a device, but a lifestyle. Our
multi-desciplinary team of designers...</p>
</article>
<article class='column'>
<img class='leader' src='images/services/services_mobileapps.png' alt='native mobile applications leverage device strengths'/>
<em> Mobile Apps</em>
<p>We belive mobile is not just a device, but a lifestyle. Our
multi-desciplinary team of designers...</p>
</article>
<article class='column'>

<img class='leader' src='images/services/services_mobilewebsites.png' alt='websites are avalible on the mobile device'/>
<em> Mobile Websites</em>
<p>We belive mobile is not just a device, but a lifestyle. Our
multi-desciplinary team of designers...</p>
</article>
<article class='column'>
<img class='leader' src='images/services/services_convergent_experiences.png' alt='devices become connected through clouds'/>
<em> Convergent Experiences </em>
<p>We belive mobile is not just a device, but a lifestyle. Our
multi-desciplinary team of designers...</p>

</article>
</section>
<footer>
  <img class='leader' src='images/services/services_mobile_logo.png' alt='blazing cloud'/>
  <section>
  <article class='column'>
  <em> Services </em>
  <ol>
    <li>Strategy &amp; Design</li>
    <li>Mobile Apps</li>
    <li>Mobile Websites</li>
    <li>Convergent Experiences</li>
  </ol>
  </article>
  <article class='column'>
  <em> Classes </em>
  <ol>
    <li><time class='date'>Mar23</time>
    <a href="#">CSS for Web Applications</a></li>
    <li><time class='date'>May21</time>
    <a href="#">Rails for Beginners</a></li>
    <li><time class='date'>June 3</time>
    <a href="#">Prosidy Chat and you</a></li>
  </ol>
  </article>
  <article class='column'>
  <em> Blog </em>
  <ol>
    <li><time class='date'>On Thursday</time>
    <a href="#">Closure and Sinatra</a></li>
    <li><time class='date'>Last Week</time>
    <a href="#">Closure and JQuery Dom Manipulation</a></li>
  </ol>
    
  </article>
  <article class='column'>
  <em> Contact </em>
    <ol>
      <li>
      <abbr> E </abbr> info@blazingcloud.net
      </li>
      <li>
      <abbr> P </abbr> (415) 800 8085
      </li>
      <li>
      <abbr> F </abbr> (415) 738 5407
      </li>
    </ol>
  </article>
  <article class='column'>
  <em> Twitter </em>
    <time>On Friday</time>
    <p>
      @mebukar there's a link on the eventbrite page,
but it is small --&gt; blazing cloud scholarship application
http://t.co/330yW1Pe
    </p>
    <a  href="#">Follow us</a> 
  </article>
  </section>

</footer>


