<div class='content'>
  <div class='services-content'>

    <section class='main intro'>
      <article class='introduction '>
        <em class='title'> Our Services </em>
        <p>We can create your next mobile application. 
          <a href='mailto:info@blazingcloud.net'>Send us an Email</a>
        </p>
      </article>
    </section>
    
    <section class='services main grid'>
      <hr class='underline'/>
      <article class='tile'>
        <img class='leader' 
             src='images/services/services_strategy_design.png' 
             alt='illuminating the essense from a maze of ideas'/>
        <div class='text-wrapper'>
          <em class='title'> Strategy &amp; Design </em>
          <p>Our multi-disciplinary approach can include design, 
            development and strategy, complementing the resources on your team.</p>
        </div>
      </article>
      <article class='tile'>
        <img class='leader' 
             src='images/services/services_mobileapps.png' 
             alt='native mobile applications leverage device strengths'/>
        <div class='text-wrapper'>
          <em class='title'> Mobile Apps</em>
          <p>Our native app development includes automated testing to increase 
            quality and modern tools for analytics to validate that your application meets your goals.</p>
        </div>
      </article>
      <article class='tile'>
        <img class='leader' 
             src='images/services/services_mobilewebsites.png' 
             alt='websites are avalible on the mobile device'/>
        <div class='text-wrapper'>
          <em class='title'> Mobile Websites</em>
          <p>Mobile is expected to surpass desktop web browsing in the next few years.
            We are expert at test-driven development for front-end JavaScript, 
            web apps and web services.</p>
        </div>
      </article>
      <article class='tile'>
        <img class='leader' 
             src='images/services/services_convergent_experiences.png' 
             alt='devices become connected through clouds'/>
        <div class='text-wrapper'>
          <em class='title'> Convergent Experiences </em>
          <p>Increasingly, products need to work on multiple screens. 
             Our holistic approach to web and mobile solutions makes sure that applications work 
             well together. We can also deliver real-time synchronization across devices.</p>
        </div>
      </article>
      <hr class='underline'/>
    </section>
    
    <section class='main client-logos'>
      <article class='clients'>
        <em class='title'> Our Clients </em>
        <div class='logos-grid'>
          <div class='tile'>
            <img src='images/clients_logos/CNN.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/Dell.png', class='circular'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/AOL.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/McKesson.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/ZigZag.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/JCC.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/TrueCar.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/Scholastic.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/CaptainRecruiter.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/MV.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/Optality.png'>
          </div>
          <div class='tile'>
            <img src='images/clients_logos/HigherCircle.png'>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>