.branding .pitch {
  font-size: 33.5px;
  margin-top: 32px;
  padding-left: 5%;
}

.home .branding .mobiles {
  height: 160px;
  margin-top: 10px;
  margin-left: 4.5%;
}

.home .brand-solid-texture {
  height: 280px;
  top: 138px;
}

.branding {
  height: 280px;
}

.about article.last {
    margin: 0 0 25px 0;
}

.about .first{
  margin-top: 10px;
  margin-bottom: 17px;
}

section .strategy .tile {
  margin: 21px 0 0;
  width: 87%;
}

section .strategy .tile[position="center"] {
  margin-top: 4px;
  margin-bottom: 0;
}

.strategy .tile[position="right"] {
 margin-bottom: 5px; 
 margin-top: 14px;
}

.tile .leader {
  float: left;
  margin-right: 3%;
  width: auto;
}

.community p {
  padding-top: 0;
  font-size: 18px;
}

.community .tile {
  margin-top: 19px;
  padding: 0;
  width: 85%;
}

.community .tile[position="right"] {
  margin-top: 10px;
}

.community .tile[position="left"] {
  padding: 0;
  margin-top:22px;
}

#slides .slidesNext,#slides .slidesPrevious {
   position:absolute;
   top:8%;
   left:0;
 }
 
#slides .slidesNext {
  left:81%;
}

.services-content .services img {
	display: none;
}

.services-content .services .text-wrapper {
	width: 100%;
	float: none;
}

.clients .logos-grid {
	width: 100%;
}

.clients .logos-grid .tile {
	width: 100%;
}

footer {
  margin: 0px;
}

.introduction p {
	display: block;
}

.services article.clients em {
	padding-left: 15px;
}

@media screen and (max-width: 450px){  
  .header nav.cloud ul {
    width: 100%;
  }
  
	nav.cloud ul li {
	  padding: 0 4px;
	}
	
  .branding {
    height: 260px;
  }
  
  .branding .pitch{
    font-size: 35px;
    line-height: 1;
    padding: 0 12% 0 10%;
    margin-top: 26px;
  }
    
  .home .brand-solid-texture {
    height: 280px;
  }  
  
  .community .tile {
    width: 90%;
  }
  
  .community .tile[position="right"] {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .about article.last {
    margin-bottom: 25px;
  }
  
  .about article.first{
   margin-top: 30px;
  }
  
  .about .tile {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  #header-wrapper .header a.logo div{
      background-position: 0 0;
      background-size: 90% auto;
  }
  
  .header nav.cloud ul {
    width: 100%;
    text-align: center;
  }

  .home .logo{
    background-position: 0 0;
    background-size: contain;
  }
  
  nav.cloud {
      letter-spacing: 1.5px;
      margin: auto;
      padding-right: 0;
      position: inherit;
      width: 245px;
  }
  
  .services nav.cloud {
    width: 201px;
  }

  .home .branding .mobiles {
    background-image: url("/images/branding/mobiles-480.png");
    background-size: 104%;
    height: 143px;
    margin: 10px 2% 0 4.5%;
  }
  
  .branding .pitch{
    font-size: 35px;
    line-height: 1;
    padding: 0 12% 0 10%;
    margin-top: 26px;
  }

  body .main{
    padding-left: 6%;
  }

  .home .brand-solid-texture {
    height: 255px;
    top: 140px;
  }
  
  .about article.last {
    margin: 9px 0 25px;
  }
  
  .about article.tile{
    width: 92%;
  }
  
  .about article.first{
    width: 97%;
    margin-top: 0;
  }
  
  .community .tile[position="right"] {
    margin-top: 30px;
  }
  
  section.strategy .tile{
    width: 92%;
  }
  
  section.strategy article.tile[position="center"]{
    margin-top: 12px;
  }
  
  .tile .leader {
    float: none;
  }
  
  body.portfolio .main {
    padding-left: 8%;
    padding-right: 3%;
  }
  
  .slidesPagination {
    left: 35%;
    position: absolute;
    top: 20%;
    width: 100%;
  }
  
   #slides .slidesNext,#slides .slidesPrevious {
    position:absolute;
    top:4%;
    left:0;
  }

  #slides .slidesNext {
    left:81%;
  }
  
  #slides img {
    padding-left: 4.5%;
    width: 77.5%;
  }
  
  #slides .product {
    padding: 25% 2% 1% 1%;
  }

  #slides .ourWork {
    padding: 10% 2% 1% 4%;
  }
  
  footer section.bottom {
    height: 230px;
  }  
}