@media screen and (min-width:30em) and (max-width:48em) {
  .debug {
    background:blue;
  }
  .branding {
    height:27em;
  }
  .brand-solid-texture {
    height:19em;
  }
  .branding .mobiles {
    background-image:url('/images/branding/mobiles-480.png');
    height:13em;
  }
}
