.home .logo {
  background-position: 58% 0;
}

.branding .pitch {
  font-size: 33.5px;
  margin-top: 32px;
  padding-left: 5%;
}

.home .branding .mobiles {
  background-image: url("/images/branding/mobiles-728.png");
  background-size: contain;
  height: 181px;
  margin-top: 10px;
  margin-left: 4.5%;
}

.home .brand-solid-texture {
  height: 294px;
  top: 125px;
}

.branding {
  height: 406px;
}

.about .last {
  margin: 0 0 37px 0;
}

section .strategy .tile {
  margin: 21px 0;
  width: 87%;
}

section .strategy .tile[position="center"] {
  margin-top: 8px;
  margin-bottom: 0;
}

.strategy .tile[position="right"] {
 margin-bottom: 42px; 
 margin-top: 13px;
}

.tile .leader {
  float: left;
  margin-right: 3%;
  width: auto;
}

.community p {
  padding-top: 0;
}

.community .tile {
  margin-top: 19px;
  padding: 0;
  width: 85%;
}

.community .tile[position="right"] {
  margin-top: 70px;
}

footer {
  margin-top: 53px;
}

@media screen and (max-width: 450px){
  .branding .pitch {
    font-size: 25px;
    margin-top: 32px;
    padding-right: 2%;
  }
  
  .community .tile {
    margin-top: 19px;
    padding: 0;
    width: 90%;
  }
  
  .about .tile {
    width: 80%;
  }
}