body .main {
  width: 90%;
}

nav.cloud ul {
  width: 245px;
}

body.services section.main {
  left: 0;
  padding-left: 105px;
  padding-right: 25px;
}

body.services .tile .leader {
  margin-left: 20px;
}

#header-wrapper .header a.logo {
  width: 61%;
  padding-left: 5%;
}

.branding .mobiles {
  background-position: 77% 0;
  height: 387px;
}

.branding {
  height: 499px;
}

.brand-solid-texture {
  height: 507px;
}

.brand-cloud-logo {
  height:507px;
  background-position: 47.5% 0;
}

.branding .pitch {
  margin-top: 46px;
  padding-left: 4%;
}

.home .about .tile {
  margin-top: 12px;
  margin-bottom: 31px;
}

.home .about .first {
  padding-left: 4px;
}

.home .about .last {
  width: 27%;
}

.strategy .tile p {
  font-size: 16px;
}

.home .strategy .tile {
  margin: 3.6% 0 4% 0;
  height: 50%;
  padding-left: 2%;
  padding-right: 1%;
  width: 30%;
}

.strategy .tile[position="center"] {
  padding-left: 2%;
  padding-right: 1%;
}

.grid .tile {
  margin-right: 1%;
}

.community .tile[position="right"] {
  padding-left: 16px;
  width: 41%;
}

.community article.tile {
  padding-left: 0.4%;
  margin-top: 18px;
}


.copyright {
  padding: 10px 0;
}

/* Portfolio Page */
body.portfolio .main {
  left: 0;
  padding-left: 11.6%;
}

.slidesPagination {
    left: 45%;
    position: absolute;
    top: 50%;
    width: 100%;
}

.portfolioSlides {
    margin: 0 auto;
    overflow: hidden;
    padding-left: 13%;
    position: relative;
    width: 82%;
}

#slides .slidesNext,#slides .slidesPrevious {
    position:absolute;
    top:19%;
    left:9%;
    width:24px;
}

#slides .slidesNext {
  left:81%;
}

.clients .logos-grid .tile {
	width: 50%;
}

@media screen and (max-width: 960px) {  
  .branding .mobiles {
    background-size: contain;
  }
  
  .brand-cloud-logo {
    background-position: 40% 0;
  }
  
  .slidesPagination {
    left: 45%;
    position: absolute;
    top: 37%;
    width: 100%;
  }
  
  #slides .product p {
  height: 500px;
  overflow: hidden;
}
  
  #slides .slidesNext,#slides .slidesPrevious {
    position:absolute;
    top:14%;
    left:9%;
    width:24px;
}

  #slides .slidesNext {
    left:81%;
  }  
  footer {
    min-height: 180px;
  } 
  
  footer section.bottom {
    height: 206px;
  }
}

