body .main {
  width: 90%;
}

nav.cloud ul {
  width: 170px;
}

body.services section.main {
  left: 0;
  padding-left: 115px;
  padding-right: 25px;
}

body.services .tile .leader {
  margin-left: 20px;
}

#header-wrapper .header a.logo {
  width: 65%;
  padding-left: 5%;
}

footer .bottom .bottom-logo {
  width: 26.25%;
  min-width: 228px;
  margin-left: 5%;
}

footer .bottom section {
  width: 57%;
  padding-left: 2%;
}

.branding .mobiles {
  background-position: 77% 0;
  height: 387px;
}

.branding {
  height:500px;
}

.brand-solid-texture {
  height: 505px;
}

.brand-cloud-logo {
  height:507px;
  background-position: 47.5% 0;
}

.branding .pitch {
  margin-top: 46px;
  padding-left: 4%;
}

.home .about .tile {
  margin-top: 12px;
  margin-bottom: 31px;
}

.home .about .first {
  padding-left: 4px;
}

.home .about .last {
  width: 27%;
}

.strategy .tile p {
  font-size: 16px;
}

.home .strategy .tile {
  margin: 3.6% 0 4% 0;
  height: 50%;
  padding-left: 2%;
  padding-right: 1%;
  width: 30%;
}

.strategy .tile[position="center"] {
  padding-left: 2%;
  padding-right: 1%;
}

.grid .tile {
  margin-right: 1%;
}

.community .tile[position="right"] {
  padding-left: 16px;
  width: 41%;
}

.community article.tile {
  padding-left: 0.4%;
  margin-top: 18px;
}

@media screen and (max-width: 960px) {  
  .branding .mobiles {
    background-size: contain;
  }
  
  .brand-cloud-logo {
    background-position: 40% 0;
  }
  
  footer {
    min-height: 180px;
  } 
  
  footer section.bottom {
    height: 180px;
  }
}

