.brand-solid-texture {
  background:url('/images/branding/texture.png') repeat center center transparent;
  height:497px;
  position:absolute;
  position:absolute;
  top:91px;
  width:inherit;
}
.brand-cloud-texture {
  background:url('/images/branding/clouds.png') no-repeat center center transparent;
  height:497px;
  position:absolute;
  top:91px;
  width:inherit;
}
.branding {
  height:560px;
}

.branding .mobiles {
  background-image:url('/images/branding/mobiles-full.png');
  height: 400px;
}

header,.main, footer section{
  min-width:64em;
  max-width:64em;
}
footer {
  min-width:100%;
  max-width:100%;
  margin: 0 auto;
}

.debug {
background:yellow;
}
