.brand-texture {
  height:497px;
}
.branding {
  height:560px;
}
.branding .clouds {
  background:url('/images/branding/clouds.png') no-repeat scroll top left transparent;
  position: absolute;
  height:1000px;
  width: 2000px;
  left: -441px;
  top: 0px;
}

.branding .mobiles {
  background-image:url('/images/branding/mobiles-full.png');
  height: 400px;
}

header,.main, footer section{
  min-width:64em;
  max-width:64em;
}
footer {
  min-width:100%;
  max-width:100%;
  margin: 0 auto;
}

.debug {
background:yellow;
}
