body.services section.main {
  left: 0;
  padding-left: 0;
}

section.services article.tile p {
  padding-left: 36%;
}

.branding .mobiles {
  background-position: 77% 0;
  height: 387px;
}

.branding {
  height:573px;
}

.brand-solid-texture {
  height: 507px;
}

.brand-cloud-logo {
  height:580px;
  background-position: 47.5% 0;
}

nav.cloud {
  padding-right: 1%;
  top: 0px;
  width: 170px;
}

.branding .pitch {
  margin-top: 46px;
  padding-left: 4%;
}

.home .about .tile {
  margin-top: 12px;
  margin-bottom: 31px;
}

.home .about .first {
  padding-left: 4px;
}

.home .about .last {
  width: 27%;
}

.strategy .tile p {
  font-size: 16px;
}

.home .strategy .tile {
  margin: 3.6% 0 4% 0;
  height: 50%;
  padding-left: 2%;
  padding-right: 1%;
  width: 30%;
}

.strategy .tile[position="center"] {
  padding-left: 2%;
  padding-right: 1%;
}

.grid .tile {
  margin-right: 1%;
}

.community .tile[position="right"] {
  padding-left: 16px;
  width: 41%;
}

.community article.tile {
  padding-left: 0.4%;
  margin-top: 18px;
}

.bottom-logo {
  background-position: 29%;
}

@media screen and (max-width: 960px) {
  .branding .mobiles {
    background-size: contain;
  }
  
  .brand-cloud-logo {
    background-position: 40% 0;
  }
  
  footer {
    min-height: 180px;
  } 
  
  footer section.bottom {
    height: 180px;
  }
}

