.debug {
  background:magenta;
}

.branding .mobiles {
  background-image:url('/images/branding/mobiles-728.png');
  height:20em;
}
.branding {
  height:500px;
}
.brand-cloud-logo {
  height:500px;
}

