---
layout: default
---

<div class='brand-solid-texture'>
</div>
<div class='brand-cloud-logo'>
</div>
<div class='branding'>
  <center class='pitch title'> 
    Bon Voyage!
  </center>  
  <div class='mobiles'>
  </div>
</div>
<div class='content'>
  <section class='main grid'>
    <section class='about'>
    <article class='tile first'>
      <p>
        The <em class='title'>Blazing Cloud</em> 
        team has joined <em class='title'>Indiegogo</em>.&nbsp;&nbsp;&nbsp;<a style="font-size:1em" href="http://blog.blazingcloud.net/2013/10/15/blazing-cloud-team-joins-indiegogo/">read more</a>
      </p>
    </article>
    <article class='tile last'>
      <p>
      
      </p>
    </article>
    </section> <!-- about section -->
      <hr class='underline'/>
    <section class='grid strategy'>
        <article class='tile'>
        <em class='title' position="left">Strategy &amp; Design</em>
        <p>
          We believe mobile is not just a device, 
          but a paradigm shift. Mobile requires a new perspective. We
          work with you to deliver
          the right experience
          to meet your goals.
          </p>
        </article>
        <article class='tile' position="center">
          <em class='title'>
            Mobile Apps
          </em>
          <p>
          We design, test, and implement native
          applications for all popular touch-enabled
          devices &mdash; iPhone, iPad, Android phones and
          tablets, and Windows Touch devices.</p>
        </article>
        <article class='tile' position="right">
        <em class='title'> Mobile Websites </em>
        <p>
          Research shows that mobile internet traffic
          is on a sharp rise. We create mobile web apps and responsive web sites that are device and resolution aware.</p>
        </article>
        </section> <!-- services -->
      
      </section> <!-- main section -->
</div>
<div class='clear'></div>
